.Low {
    color: #918f00;
}
.Medium {
    color: orange;
}
.High {
    color: red;
}

.Completed {
    color: green;
    text-decoration: line-through;
}

body {
    background-color: #e3e1e1;
}

#task-list p {
    margin: 2px;
}